// В этом файле должны быть стили только для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$color-main: #6c1200 ;
$color-main--accent: lighten($color-main, 15%) ;


.pagination {

  $block-name:                &;

  .page-numbers {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin: 0;
      padding: 0;
      list-style: none
  }

  .page-numbers li:not(:first-child) {
      margin-left: 10px
  }

  .page-numbers li > .page-numbers {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 32px;
      min-width: 32px;
      padding: .1em;
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      font-size: .75em;
      text-decoration: none;
      text-align: center;
      color: #6c1200
  }

  a.page-numbers:focus,a.page-numbers:hover {
      text-decoration: none;
      color: #b91f00;
      border-color: #b91f00
  }

  a.page-numbers:active {
      background-color: #b91f00;
      border-color: #b91f00;
      color: #fff
  }

  span.page-numbers {
      cursor: default
  }

  span.page-numbers:focus,span.page-numbers:hover {
      color: #1a1a1a
  }

  .current {
      background-color: #e6e6e6;
      color: #1a1a1a
  }

  .current:focus,.current:hover {
      color: #1a1a1a
  }

  .page-numbers.next {
    padding: 1em 2em !important;
  }

}
