// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-footer-container {
  max-width: 460px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.main-footer {

  $block-name:                &;
  // #{$block-name}__element
  background: #000;
  color: #fff;
  font-size: 14px;
  padding-top: 50px;
  padding-bottom: 15px;
  &__info {
    text-align: center;
    color: #676767;
  }
  &__dev {
    color: #4c4c4c;
    a {
      color: #4c4c4c;
      text-decoration: underline;
      transition: color $transition-time;
      &:hover,
      &:focus {
        text-decoration: none;
        color: lighten(#4c4c4c, 25%);
      }
    }
  }
}
