// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &;
  // #{$block-name}__element
  // background-image: url(../img/header-bg.jpg);
  display: block;
  overflow: hidden;
  padding-bottom: 60px;
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .logo {
    display: block;
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: -10px;
  }
}
