// В этом файле должны быть стили для БЭМ-блока page-content, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-content {

  $block-name:                &; // #{$block-name}__element {}
  @include container;

  &__title {
    text-transform: uppercase;
    color: #5d1900;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    overflow-x: hidden;
    span {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        background: url("../img/dashed-bg--color.png");
        background-repeat: repeat-x;
        top: 13px;
        width: 1000px;
        right: 100%;
        margin-right: 10px;
      }
      &:after {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        background: url("../img/dashed-bg--color.png");
        background-repeat: repeat-x;
        top: 13px;
        width: 1000px;
        left: 100%;
        margin-left: 10px;
      }
    }
    @media (min-width: $screen-xl) {
      font-size: 30px;
      span {
        position: relative;
        &:before {
          top: 16px;
          margin-right: 15px;
        }
        &:after {
          top: 16px;
          margin-left: 15px;
        }
      }
    }
  }

}
