// В этом файле должны быть стили для БЭМ-блока accept-partners, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.accept-partners {

  $block-name:                &; // #{$block-name}__element {}
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 35px;
  padding-bottom: 15px;

  &__inner {
    @include container;
    color: #fff;
    text-align: center;
  }
  &__header {}
  &__title {
    font-size: 30px;
    margin-top: 0;
  }
  &__sub-title {
    font-size: 24px;
    margin-top: 0;
  }

}
