// В этом файле должны быть стили для БЭМ-блока partners, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.partners {

  $block-name:                &; // #{$block-name}__element {}
  &__text {
    margin-bottom: 50px;
    &--lead {
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px;
      margin-bottom: 20px;
      @media (min-width: $screen-xl) {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 30px;
      }
    }
  }
}
