// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &;
  // #{$block-name}__element
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  @media (min-width: $screen-lg) {
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 15px;
  }
  &__container {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    @media (min-width: $screen-lg) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  &__part {
    text-align: center;
    @media (min-width: $screen-lg) {
      flex-grow: 1;
      &--contacts {
        text-align: right;
      }
    }
  }
  .logo {
    width: 162px;
    height: 62px;
    display: block;
    margin-bottom: 10px;
    @media (min-width: $screen-lg) {
      margin-bottom: 0;
    }
  }
  &__info {
    text-align: center;
    color: #bebebe;
    font-size: 14px;
  }
  .menu--footer {
    display: none;
    text-align: left;
    @media (min-width: $screen-xl) {
      display: block;
      column-count: 2;
      column-gap: 0;
    }
  }
  &__dev {
    color: #bebebe;
    font-size: 14px;
    a {
      color: #bebebe;
      text-decoration: underline;
      transition: color $transition-time;
      &:hover,
      &:focus {
        text-decoration: none;
        color: lighten(#4c4c4c, 25%);
      }
    }
  }
  &__contact {
    a {
      color: #fff;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
