// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &;
  // #{$block-name}__element
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 15px;
  &__container {
    @include container;
    display: flex;
    // justify-content: space-between;
  }
  &__part {
    flex-grow: 1;
    &--contacts {
      text-align: right;
    }
  }
  .logo {
    width: 162px;
    height: 62px;
    display: block;
  }
  &__info {
    text-align: center;
    color: #bebebe;
    font-size: 14px;
  }
  .menu--footer {
    column-count: 2;
    column-gap: 0;
  }
  &__dev {
    color: #bebebe;
    font-size: 14px;
    a {
      color: #bebebe;
      text-decoration: underline;
      transition: color $transition-time;
      &:hover,
      &:focus {
        text-decoration: none;
        color: lighten(#4c4c4c, 25%);
      }
    }
  }
  &__contact {
    a {
      color: #fff;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
