// В этом файле должны быть стили для БЭМ-блока result, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.result {

  $block-name:                &; // #{$block-name}__element {}

  &__dish {}
  &__name {
    font-family: "Melo";
    font-size: 36px;
    color: #fcf282;
    margin: 0;
  }

}
