// В этом файле должны быть стили для БЭМ-блока product, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.latest {

  $block-name:                &; // #{$block-name}__element {}

  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 60px 0 120px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 166px;
    height: 437px;
    background-image: url("../img/latest-pic-left.png");
    background-repeat: no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 70px;
    width: 280px;
    height: 456px;
    background-image: url("../img/latest-pic-right.png");
    background-repeat: no-repeat;
  }

  &__wrap {
    @include container;
    position: relative;
    z-index: 2;
  }
  &__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    text-align: center;
    overflow-x: hidden;
    span {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        background: url("../img/dashed-bg.png");
        background-repeat: repeat-x;
        top: 16px;
        width: 1000px;
        right: 100%;
        margin-right: 15px;
      }
      &:after {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        background: url("../img/dashed-bg.png");
        background-repeat: repeat-x;
        top: 16px;
        width: 1000px;
        left: 100%;
        margin-left: 15px;
      }
    }
  }
}

.latest-card__wrap {
  @include row;
  .card {
    @include make-col(12);
    @media (min-width: $screen-sm) {
      @include make-col(6);
    }
    @media (min-width: $screen-xl) {
      @include make-col(4);
    }
    padding: 20px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    &:hover,
    &:focus {
      border: 2px dashed #fff;
      text-decoration: none;
      cursor: pointer;
    }
    &__name {
      color: #fff;
      text-align: center;
    }
    &__title {
      font-weight: 400;
      font-size: 24px;
      font-family: "Melo";
      line-height: 32px;
    }
    &__photo {
      box-shadow: 0px 3px 6.09px 0.91px rgba(0, 0, 0, 0.35);
      border: 4px solid #fff;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      width: 100%;
      padding-bottom: 60%;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
