// В этом файле должны быть стили для БЭМ-блока s-product, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.s-product {

  $block-name:                &; // #{$block-name}__element {}
  &__header {
    display: flex;
  }
  &__btn {
    font-family: "Melo";
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: relative;
    margin-right: 40px;
    span {
      display: block;
      line-height: 1;
      margin-bottom: 7px;
    }
    &:after {
      content: "";
      @include sprite($btn-arrow);
      display: block;
    }
    &:hover,
    &:focus {
      color: #f9f288;
    }
  }
  &__name {
    font-family: "Melo";
    color: #fff;
    font-size: 24px;
    line-height: 1;
    span {
      color: #fcf382;
    }
  }

}
