// В этом файле должны быть стили для БЭМ-блока license, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.license {

  $block-name:                &; // #{$block-name}__element {}

  &__title {
    text-align: center;
  }
  &__row {
    @include row;
    padding-top: 15px;
    padding-bottom: 35px;
  }
  &__item {
    @include make-col(4);
  }
}
