// В этом файле должны быть стили для БЭМ-блока product-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-nav {

  $block-name:                &; // #{$block-name}__element {}

  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 25px;
  &__item {
    flex: 1;
    &--active {
      #{$block-name}__link {
        background-color: #5d1900;
        color: #fff;
      }
    }
    &:not(:last-child) {
      padding-right: 30px;
      position: relative;
      &:after {
        content: '';
        @include sprite($nav-arrow);
        position: absolute;
        right: 0;
        top:9px;
        display: inline-block;
      }
    }
    &:first-child {
      position: relative;
      padding-left: 29px;
      &:before {
        content: '';
        @include sprite($nav-arrow-left);
        position: absolute;
        left: 0;
        top:9px;
        display: inline-block;
      }
    }
    &:last-child {
      position: relative;
      padding-right: 29px;
      &:after {
        content: '';
        @include sprite($nav-arrow-right);
        position: absolute;
        right: 0;
        top:9px;
        display: inline-block;
      }
    }
  }
  &__link {
    border: 1px solid #5d1900;
    text-align: center;
    border-radius: 20px;
    line-height: 30px;
    height: 30px;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    font-weight: 700;
    text-decoration: none;
  }

}
