// В этом файле должны быть стили для БЭМ-блока product, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product {

  $block-name:                &; // #{$block-name}__element {}

  position: relative;
  z-index: 1;
  background-image: url("../img/m-products-bg.jpg");
  padding-top: 5px;
  padding-bottom: 5px;
  @media (min-width: $screen-xl) {
    background-image: url("../img/products-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 120px;
    margin-top: -55px;
    margin-bottom: -55px;
  }
  &__wrap {
    @include container;
  }
  &__title {
    text-transform: uppercase;
    color: #5d1900;
    font-size: 30px;
    text-align: center;
    overflow-x: hidden;
    span {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        background: url("../img/dashed-bg--color.png");
        background-repeat: repeat-x;
        top: 16px;
        width: 1000px;
        right: 100%;
        margin-right: 15px;
      }
      &:after {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        background: url("../img/dashed-bg--color.png");
        background-repeat: repeat-x;
        top: 16px;
        width: 1000px;
        left: 100%;
        margin-left: 15px;
      }
    }
  }
}

.product-card__wrap {
  @include row;
  .card {
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    @include make-col(12);
    @media (min-width: $screen-sm) {
      @include make-col(6);
    }
    @media (min-width: $screen-lg) {
      @include make-col(4);
    }
    @media (min-width: $screen-xl) {
      @include make-col(3);
    }
    &:hover {
      border: 2px dashed #6b1200;
      cursor: pointer;
    }
    &__name {
      color: #6b1200;
      text-align: center;
    }
    &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }
    &__photo {
      box-shadow: 0px 3px 6.09px 0.91px rgba(0, 0, 0, 0.35);
      border: 4px solid #fff;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      width: 100%;
      padding-bottom: 60%;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
